 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/desktop-wallpaper-scalable-blockchain-infrastructure-billions-of-transactions-counting-solana.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 959px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 190px;
  margin: 89px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 0.875rem;
  width: 587px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 206px;
  height: 69px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 20px auto 0;
}

.u-section-1 .u-image-3 {
  width: 524px;
  height: 524px;
  margin: 0 auto 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 791px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 180px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 113px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 340px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.06) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.06) !important;
}

.u-section-1 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 735px;
}

.u-section-2 .u-group-1 {
  min-height: 399px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  --radius: 19px;
}

.u-section-2 .u-container-layout-1 {
  padding: 5px 30px;
}

.u-section-2 .u-image-1 {
  width: 394px;
  height: 131px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 12px auto -25px;
}

.u-section-2 .u-icon-1 {
  height: 32px;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-icon-3 {
  height: 32px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 479px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 401px;
  }

  .u-section-2 .u-group-1 {
    min-height: 405px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 905px;
  }

  .u-section-2 .u-group-1 {
    min-height: 446px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 625px;
  }

  .u-section-2 .u-group-1 {
    min-height: 487px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 107px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 30px;
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1656px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 80px;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 69px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 184px;
  --radius: 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 184px;
  --radius: 20px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 184px;
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-group-1 {
  min-height: 112px;
  margin-top: 49px;
  margin-bottom: 0;
  height: auto;
  --radius: 30px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 631px;
  height: auto;
  --radius: 50px;
  min-height: 58px;
  margin: -42px 0 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 15px auto 0;
}

.u-section-3 .u-image-2 {
  width: 570px;
  height: 81px;
  margin: 55px auto 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 78px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 242px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 22px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: -53px 0 0 107px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 271px;
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  width: 139px;
  height: 104px;
  margin: 44px auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: -85px 10px 0 139px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 220px;
  background-image: none;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 36px auto 0 20px;
}

.u-section-3 .u-text-9 {
  margin: -53px 0 0 139px;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 96px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1500px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 152px;
  }

  .u-section-3 .u-group-1 {
    min-height: 154px;
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-group-2 {
    min-height: 50px;
    height: auto;
  }

  .u-section-3 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 200px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 88px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 231px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 22px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -84px;
    margin-right: 0;
    margin-left: 123px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 181px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-group-2 {
    width: 488px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1257px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 75px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding: 0 10px 30px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 76px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2009px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 47px;
  }

  .u-section-3 .u-text-5 {
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
    min-height: 77px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 48px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 237px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 15px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 306px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.875rem;
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 304px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 24px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 84px;
  }
}