.elementor-kit-10 {
  --e-global-color-primary: #606662;
  --e-global-color-secondary: #fec854;
  --e-global-color-text: black;
  --e-global-color-accent: black;
  --e-global-color-0208d51: black;
  --e-global-color-50345e2: #ff5c00;
  --e-global-color-6308b74: #0b1a3080;
  --e-global-color-165d5c4: #c6d2e6;
  --e-global-color-bb069b9: #edf2fa;
  --e-global-color-5997b1e: #ffffff;
  --e-global-color-c4495d5: #1f5ed842;
  --e-global-color-eb23dce: #ffffff00;
  --e-global-color-a35a452: #fec85440;
  --e-global-typography-primary-font-family: "Lora";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Inter";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Inter";
  --e-global-typography-text-font-size: 16px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-font-style: normal;
  --e-global-typography-text-line-height: 1.75em;
  --e-global-typography-accent-font-family: "Inter";
  --e-global-typography-accent-font-weight: 500;
  --e-global-typography-e21a6bc-font-family: "Lora";
  --e-global-typography-e21a6bc-font-size: 64px;
  --e-global-typography-e21a6bc-font-weight: 500;
  --e-global-typography-e21a6bc-font-style: normal;
  --e-global-typography-e21a6bc-line-height: 1.125em;
  --e-global-typography-89b69ac-font-family: "Lora";
  --e-global-typography-89b69ac-font-size: 48px;
  --e-global-typography-89b69ac-font-weight: 500;
  --e-global-typography-89b69ac-font-style: normal;
  --e-global-typography-89b69ac-line-height: 1.333em;
  --e-global-typography-0a500a9-font-family: "Lora";
  --e-global-typography-0a500a9-font-size: 36px;
  --e-global-typography-0a500a9-font-weight: 500;
  --e-global-typography-0a500a9-font-style: normal;
  --e-global-typography-0a500a9-line-height: 1.333em;
  --e-global-typography-53148b8-font-family: "Lora";
  --e-global-typography-53148b8-font-size: 24px;
  --e-global-typography-53148b8-font-weight: 500;
  --e-global-typography-53148b8-font-style: normal;
  --e-global-typography-53148b8-line-height: 1.167em;
  --e-global-typography-4653131-font-family: "Inter";
  --e-global-typography-4653131-font-size: 18px;
  --e-global-typography-4653131-font-weight: 500;
  --e-global-typography-4653131-font-style: normal;
  --e-global-typography-4653131-line-height: 1.333em;
  --e-global-typography-83a14ad-font-family: "Inter";
  --e-global-typography-83a14ad-font-size: 16px;
  --e-global-typography-83a14ad-font-weight: 500;
  --e-global-typography-83a14ad-font-style: normal;
  --e-global-typography-83a14ad-line-height: 1.5em;
  --e-global-typography-83a14ad-letter-spacing: 0.08px;
  --e-global-typography-3849ebd-font-family: "Inter";
  --e-global-typography-3849ebd-font-size: 16px;
  --e-global-typography-3849ebd-font-weight: 500;
  --e-global-typography-3849ebd-font-style: normal;
  --e-global-typography-3849ebd-line-height: 1.5em;
  --e-global-typography-64ab141-font-family: "Inter";
  --e-global-typography-64ab141-font-size: 16px;
  --e-global-typography-64ab141-font-weight: 700;
  --e-global-typography-64ab141-font-style: normal;
  --e-global-typography-64ab141-line-height: 1.5em;
  --e-global-typography-0d051da-font-family: "Inter";
  --e-global-typography-0d051da-font-size: 14px;
  --e-global-typography-0d051da-font-weight: 500;
  --e-global-typography-0d051da-font-style: normal;
  --e-global-typography-0d051da-line-height: 1.714em;
  --e-global-typography-0d051da-letter-spacing: 0.04px;
  --e-global-typography-ba1019d-font-family: "Inter";
  --e-global-typography-ba1019d-font-size: 18px;
  --e-global-typography-ba1019d-font-weight: 400;
  --e-global-typography-ba1019d-font-style: normal;
  --e-global-typography-ba1019d-line-height: 1.333em;
  --e-global-typography-d3d8ef1-font-family: "Inter";
  --e-global-typography-d3d8ef1-font-size: 12px;
  --e-global-typography-d3d8ef1-font-weight: 500;
  --e-global-typography-d3d8ef1-font-style: normal;
  --e-global-typography-d3d8ef1-line-height: 2em;
  --e-global-typography-9c2f3c2-font-family: "Inter";
  --e-global-typography-9c2f3c2-font-size: 11px;
  --e-global-typography-9c2f3c2-font-weight: 700;
  --e-global-typography-9c2f3c2-text-transform: uppercase;
  --e-global-typography-9c2f3c2-font-style: normal;
  --e-global-typography-9c2f3c2-line-height: 1.455em;
  --e-global-typography-c449c98-font-family: "Inter";
  --e-global-typography-c449c98-font-size: 14px;
  --e-global-typography-c449c98-font-weight: 700;
  --e-global-typography-c449c98-text-transform: uppercase;
  --e-global-typography-c449c98-font-style: normal;
  --e-global-typography-c449c98-line-height: 1.714em;
  --e-global-typography-4a9f736-font-family: "Inter";
  --e-global-typography-4a9f736-font-size: 16px;
  --e-global-typography-4a9f736-font-weight: 500;
  --e-global-typography-4a9f736-font-style: normal;
  --e-global-typography-4a9f736-line-height: 1.5em;
  --e-global-typography-7852401-font-family: "Lora";
  --e-global-typography-7852401-font-size: 18px;
  --e-global-typography-7852401-font-weight: 400;
  --e-global-typography-7852401-font-style: normal;
  --e-global-typography-7852401-line-height: 1.5em;
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-kit-10 p {
  margin-bottom: 32px;
}
.elementor-kit-10 a {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-3849ebd-font-family), Sans-serif;
  font-size: var(--e-global-typography-3849ebd-font-size);
  font-weight: var(--e-global-typography-3849ebd-font-weight);
  font-style: var(--e-global-typography-3849ebd-font-style);
  line-height: var(--e-global-typography-3849ebd-line-height);
  letter-spacing: var(--e-global-typography-3849ebd-letter-spacing);
  word-spacing: var(--e-global-typography-3849ebd-word-spacing);
}
.elementor-kit-10 h1 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-e21a6bc-font-family), Sans-serif;
  font-size: var(--e-global-typography-e21a6bc-font-size);
  font-weight: var(--e-global-typography-e21a6bc-font-weight);
  font-style: var(--e-global-typography-e21a6bc-font-style);
  line-height: var(--e-global-typography-e21a6bc-line-height);
  letter-spacing: var(--e-global-typography-e21a6bc-letter-spacing);
  word-spacing: var(--e-global-typography-e21a6bc-word-spacing);
}
.elementor-kit-10 h2 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-89b69ac-font-family), Sans-serif;
  font-size: var(--e-global-typography-89b69ac-font-size);
  font-weight: var(--e-global-typography-89b69ac-font-weight);
  font-style: var(--e-global-typography-89b69ac-font-style);
  line-height: var(--e-global-typography-89b69ac-line-height);
  letter-spacing: var(--e-global-typography-89b69ac-letter-spacing);
  word-spacing: var(--e-global-typography-89b69ac-word-spacing);
}
.elementor-kit-10 h3 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-0a500a9-font-family), Sans-serif;
  font-size: var(--e-global-typography-0a500a9-font-size);
  font-weight: var(--e-global-typography-0a500a9-font-weight);
  font-style: var(--e-global-typography-0a500a9-font-style);
  line-height: var(--e-global-typography-0a500a9-line-height);
  letter-spacing: var(--e-global-typography-0a500a9-letter-spacing);
  word-spacing: var(--e-global-typography-0a500a9-word-spacing);
}
.elementor-kit-10 h4 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-53148b8-font-family), Sans-serif;
  font-size: var(--e-global-typography-53148b8-font-size);
  font-weight: var(--e-global-typography-53148b8-font-weight);
  font-style: var(--e-global-typography-53148b8-font-style);
  line-height: var(--e-global-typography-53148b8-line-height);
  letter-spacing: var(--e-global-typography-53148b8-letter-spacing);
  word-spacing: var(--e-global-typography-53148b8-word-spacing);
}
.elementor-kit-10 h5 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-4653131-font-family), Sans-serif;
  font-size: var(--e-global-typography-4653131-font-size);
  font-weight: var(--e-global-typography-4653131-font-weight);
  font-style: var(--e-global-typography-4653131-font-style);
  line-height: var(--e-global-typography-4653131-line-height);
  letter-spacing: var(--e-global-typography-4653131-letter-spacing);
  word-spacing: var(--e-global-typography-4653131-word-spacing);
}
.elementor-kit-10 h6 {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-83a14ad-font-family), Sans-serif;
  font-size: var(--e-global-typography-83a14ad-font-size);
  font-weight: var(--e-global-typography-83a14ad-font-weight);
  font-style: var(--e-global-typography-83a14ad-font-style);
  line-height: var(--e-global-typography-83a14ad-line-height);
  letter-spacing: var(--e-global-typography-83a14ad-letter-spacing);
  word-spacing: var(--e-global-typography-83a14ad-word-spacing);
}
.elementor-kit-10 button,
.elementor-kit-10 input[type="button"],
.elementor-kit-10 input[type="submit"],
.elementor-kit-10 .elementor-button {
  font-family: var(--e-global-typography-c449c98-font-family), Sans-serif;
  font-size: var(--e-global-typography-c449c98-font-size);
  font-weight: var(--e-global-typography-c449c98-font-weight);
  text-transform: var(--e-global-typography-c449c98-text-transform);
  font-style: var(--e-global-typography-c449c98-font-style);
  line-height: var(--e-global-typography-c449c98-line-height);
  letter-spacing: var(--e-global-typography-c449c98-letter-spacing);
  word-spacing: var(--e-global-typography-c449c98-word-spacing);
  color: var(--e-global-color-5997b1e);
  background-color: var(--e-global-color-primary);
  border-radius: 4px 4px 4px 4px;
  padding: 16px 32px 16px 32px;
}
.elementor-kit-10 button:hover,
.elementor-kit-10 button:focus,
.elementor-kit-10 input[type="button"]:hover,
.elementor-kit-10 input[type="button"]:focus,
.elementor-kit-10 input[type="submit"]:hover,
.elementor-kit-10 input[type="submit"]:focus,
.elementor-kit-10 .elementor-button:hover,
.elementor-kit-10 .elementor-button:focus {
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-5997b1e);
}
.elementor-kit-10 label {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-53148b8-font-family), Sans-serif;
  font-size: var(--e-global-typography-53148b8-font-size);
  font-weight: var(--e-global-typography-53148b8-font-weight);
  font-style: var(--e-global-typography-53148b8-font-style);
  line-height: var(--e-global-typography-53148b8-line-height);
  letter-spacing: var(--e-global-typography-53148b8-letter-spacing);
  word-spacing: var(--e-global-typography-53148b8-word-spacing);
}
.elementor-kit-10 input:not([type="button"]):not([type="submit"]),
.elementor-kit-10 textarea,
.elementor-kit-10 .elementor-field-textual {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  font-style: var(--e-global-typography-text-font-style);
  line-height: var(--e-global-typography-text-line-height);
  color: var(--e-global-color-6308b74);
  background-color: var(--e-global-color-5997b1e);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-165d5c4);
  border-radius: 4px 4px 4px 4px;
  padding: 16px 16px 16px 16px;
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1196px;
}
.e-con {
  --container-max-width: 1196px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
.elementor-kit-10 e-page-transition {
  background-color: #ffbc7d;
}
.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}
@media (max-width: 1024px) {
  .elementor-kit-10 {
    --e-global-typography-text-font-size: 14px;
    --e-global-typography-e21a6bc-font-size: 48px;
    --e-global-typography-89b69ac-font-size: 32px;
    --e-global-typography-0a500a9-font-size: 24px;
    --e-global-typography-53148b8-font-size: 20px;
    --e-global-typography-4653131-font-size: 16px;
    --e-global-typography-83a14ad-font-size: 14px;
    --e-global-typography-ba1019d-font-size: 16px;
    --e-global-typography-4a9f736-font-size: 14px;
    --e-global-typography-7852401-font-size: 16px;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-10 a {
    font-size: var(--e-global-typography-3849ebd-font-size);
    line-height: var(--e-global-typography-3849ebd-line-height);
    letter-spacing: var(--e-global-typography-3849ebd-letter-spacing);
    word-spacing: var(--e-global-typography-3849ebd-word-spacing);
  }
  .elementor-kit-10 h1 {
    font-size: var(--e-global-typography-e21a6bc-font-size);
    line-height: var(--e-global-typography-e21a6bc-line-height);
    letter-spacing: var(--e-global-typography-e21a6bc-letter-spacing);
    word-spacing: var(--e-global-typography-e21a6bc-word-spacing);
  }
  .elementor-kit-10 h2 {
    font-size: var(--e-global-typography-89b69ac-font-size);
    line-height: var(--e-global-typography-89b69ac-line-height);
    letter-spacing: var(--e-global-typography-89b69ac-letter-spacing);
    word-spacing: var(--e-global-typography-89b69ac-word-spacing);
  }
  .elementor-kit-10 h3 {
    font-size: var(--e-global-typography-0a500a9-font-size);
    line-height: var(--e-global-typography-0a500a9-line-height);
    letter-spacing: var(--e-global-typography-0a500a9-letter-spacing);
    word-spacing: var(--e-global-typography-0a500a9-word-spacing);
  }
  .elementor-kit-10 h4 {
    font-size: var(--e-global-typography-53148b8-font-size);
    line-height: var(--e-global-typography-53148b8-line-height);
    letter-spacing: var(--e-global-typography-53148b8-letter-spacing);
    word-spacing: var(--e-global-typography-53148b8-word-spacing);
  }
  .elementor-kit-10 h5 {
    font-size: var(--e-global-typography-4653131-font-size);
    line-height: var(--e-global-typography-4653131-line-height);
    letter-spacing: var(--e-global-typography-4653131-letter-spacing);
    word-spacing: var(--e-global-typography-4653131-word-spacing);
  }
  .elementor-kit-10 h6 {
    font-size: var(--e-global-typography-83a14ad-font-size);
    line-height: var(--e-global-typography-83a14ad-line-height);
    letter-spacing: var(--e-global-typography-83a14ad-letter-spacing);
    word-spacing: var(--e-global-typography-83a14ad-word-spacing);
  }
  .elementor-kit-10 button,
  .elementor-kit-10 input[type="button"],
  .elementor-kit-10 input[type="submit"],
  .elementor-kit-10 .elementor-button {
    font-size: var(--e-global-typography-c449c98-font-size);
    line-height: var(--e-global-typography-c449c98-line-height);
    letter-spacing: var(--e-global-typography-c449c98-letter-spacing);
    word-spacing: var(--e-global-typography-c449c98-word-spacing);
  }
  .elementor-kit-10 label {
    font-size: var(--e-global-typography-53148b8-font-size);
    line-height: var(--e-global-typography-53148b8-line-height);
    letter-spacing: var(--e-global-typography-53148b8-letter-spacing);
    word-spacing: var(--e-global-typography-53148b8-word-spacing);
  }
  .elementor-kit-10 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-10 textarea,
  .elementor-kit-10 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-10 {
    --e-global-typography-e21a6bc-font-size: 32px;
    --e-global-typography-89b69ac-font-size: 28px;
    --e-global-typography-c449c98-font-size: 13px;
    --e-global-typography-c449c98-line-height: 1.455em;
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-kit-10 a {
    font-size: var(--e-global-typography-3849ebd-font-size);
    line-height: var(--e-global-typography-3849ebd-line-height);
    letter-spacing: var(--e-global-typography-3849ebd-letter-spacing);
    word-spacing: var(--e-global-typography-3849ebd-word-spacing);
  }
  .elementor-kit-10 h1 {
    font-size: var(--e-global-typography-e21a6bc-font-size);
    line-height: var(--e-global-typography-e21a6bc-line-height);
    letter-spacing: var(--e-global-typography-e21a6bc-letter-spacing);
    word-spacing: var(--e-global-typography-e21a6bc-word-spacing);
  }
  .elementor-kit-10 h2 {
    font-size: var(--e-global-typography-89b69ac-font-size);
    line-height: var(--e-global-typography-89b69ac-line-height);
    letter-spacing: var(--e-global-typography-89b69ac-letter-spacing);
    word-spacing: var(--e-global-typography-89b69ac-word-spacing);
  }
  .elementor-kit-10 h3 {
    font-size: var(--e-global-typography-0a500a9-font-size);
    line-height: var(--e-global-typography-0a500a9-line-height);
    letter-spacing: var(--e-global-typography-0a500a9-letter-spacing);
    word-spacing: var(--e-global-typography-0a500a9-word-spacing);
  }
  .elementor-kit-10 h4 {
    font-size: var(--e-global-typography-53148b8-font-size);
    line-height: var(--e-global-typography-53148b8-line-height);
    letter-spacing: var(--e-global-typography-53148b8-letter-spacing);
    word-spacing: var(--e-global-typography-53148b8-word-spacing);
  }
  .elementor-kit-10 h5 {
    font-size: var(--e-global-typography-4653131-font-size);
    line-height: var(--e-global-typography-4653131-line-height);
    letter-spacing: var(--e-global-typography-4653131-letter-spacing);
    word-spacing: var(--e-global-typography-4653131-word-spacing);
  }
  .elementor-kit-10 h6 {
    font-size: var(--e-global-typography-83a14ad-font-size);
    line-height: var(--e-global-typography-83a14ad-line-height);
    letter-spacing: var(--e-global-typography-83a14ad-letter-spacing);
    word-spacing: var(--e-global-typography-83a14ad-word-spacing);
  }
  .elementor-kit-10 button,
  .elementor-kit-10 input[type="button"],
  .elementor-kit-10 input[type="submit"],
  .elementor-kit-10 .elementor-button {
    font-size: var(--e-global-typography-c449c98-font-size);
    line-height: var(--e-global-typography-c449c98-line-height);
    letter-spacing: var(--e-global-typography-c449c98-letter-spacing);
    word-spacing: var(--e-global-typography-c449c98-word-spacing);
    padding: 12px 16px 12px 16px;
  }
  .elementor-kit-10 label {
    font-size: var(--e-global-typography-53148b8-font-size);
    line-height: var(--e-global-typography-53148b8-line-height);
    letter-spacing: var(--e-global-typography-53148b8-letter-spacing);
    word-spacing: var(--e-global-typography-53148b8-word-spacing);
  }
  .elementor-kit-10 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-10 textarea,
  .elementor-kit-10 .elementor-field-textual {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
