.et_pb_section_0.et_pb_section {
  background-color: #006600 !important;
}
.et_pb_text_0 h1,
.et_pb_text_2 h1,
.et_pb_text_4 h1,
.et_pb_text_6 h1,
.et_pb_text_8 h1,
.et_pb_text_10 h1,
.et_pb_text_11 h1 {
  font-family: "Nanum Pen Script", handwriting;
  font-weight: 700;
  font-size: 79px;
  color: #ffffff !important;
  letter-spacing: -0.02em;
}
.et_pb_text_0,
.et_pb_text_2,
.et_pb_text_4,
.et_pb_text_6,
.et_pb_text_8,
.et_pb_text_10,
.et_pb_text_11 {
  margin-bottom: 16px !important;
}
.et_pb_text_1.et_pb_text,
.et_pb_text_3.et_pb_text,
.et_pb_text_5.et_pb_text,
.et_pb_text_7.et_pb_text,
.et_pb_text_9.et_pb_text {
  color: #ffffff !important;
}
.et_pb_text_1,
.et_pb_text_3,
.et_pb_text_5 {
  line-height: 1.8em;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8em;
}
.et_pb_button_0_wrapper .et_pb_button_0,
.et_pb_button_0_wrapper .et_pb_button_0:hover,
.et_pb_button_1_wrapper .et_pb_button_1,
.et_pb_button_1_wrapper .et_pb_button_1:hover,
.et_pb_button_2_wrapper .et_pb_button_2,
.et_pb_button_2_wrapper .et_pb_button_2:hover,
.et_pb_button_3_wrapper .et_pb_button_3,
.et_pb_button_3_wrapper .et_pb_button_3:hover {
  padding-top: 15px !important;
  padding-right: 22px !important;
  padding-bottom: 12px !important;
  padding-left: 22px !important;
}
body #page-container .et_pb_section .et_pb_button_0,
body #page-container .et_pb_section .et_pb_button_3 {
  color: #ffffff !important;
  border-width: 0px !important;
  border-radius: 37px;
  font-size: 14px;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background-color: #522b24;
}
body #page-container .et_pb_section .et_pb_button_0:after,
body #page-container .et_pb_section .et_pb_button_1:after,
body #page-container .et_pb_section .et_pb_button_2:after,
body #page-container .et_pb_section .et_pb_button_3:after {
  font-size: 1.6em;
}
body.et_button_custom_icon #page-container .et_pb_button_0:after,
body.et_button_custom_icon #page-container .et_pb_button_1:after,
body.et_button_custom_icon #page-container .et_pb_button_2:after,
body.et_button_custom_icon #page-container .et_pb_button_3:after {
  font-size: 14px;
}
.et_pb_button_0,
.et_pb_button_0:after,
.et_pb_button_1,
.et_pb_button_1:after,
.et_pb_button_2,
.et_pb_button_2:after,
.et_pb_button_3,
.et_pb_button_3:after {
  transition: all 300ms ease 0ms;
}
.et_pb_image_0,
.et_pb_image_4 {
  text-align: left;
  margin-left: 0;
}
.et_pb_image_1 {
  width: 74%;
  text-align: left;
  margin-left: 0;
}
.et_pb_image_2 {
  width: 59%;
  text-align: left;
  margin-left: 0;
}
.et_pb_section_1.et_pb_section,
.et_pb_section_2.et_pb_section,
.et_pb_section_3.et_pb_section,
.et_pb_section_4.et_pb_section,
.et_pb_section_5.et_pb_section,
.et_pb_section_6.et_pb_section {
  background-color: #006600 !important;
}
.et_pb_row_2 {
  background-color: #522b24;
  border-radius: 20px 20px 20px 20px;
  overflow-x: visible;
  overflow-y: visible;
}
.et_pb_row_2.et_pb_row {
  padding-top: 60px !important;
  padding-right: 60px !important;
  padding-bottom: 60px !important;
  padding-left: 60px !important;
  margin-bottom: 40px !important;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
}
.et_pb_image_3 {
  margin-top: 10% !important;
  margin-bottom: -48% !important;
  margin-left: -40% !important;
  text-align: left;
  margin-left: 0;
}
body #page-container .et_pb_section .et_pb_button_1,
body #page-container .et_pb_section .et_pb_button_2 {
  color: #ffffff !important;
  border-width: 0px !important;
  border-radius: 37px;
  font-size: 14px;
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  background-color: #006600;
}
.et_pb_row_4,
.et_pb_row_6,
.et_pb_row_7 {
  background-color: #522b24;
  border-radius: 22px 22px 22px 22px;
  overflow: hidden;
}
.et_pb_row_4.et_pb_row,
.et_pb_row_6.et_pb_row,
.et_pb_row_7.et_pb_row {
  padding-top: 60px !important;
  padding-right: 60px !important;
  padding-bottom: 60px !important;
  padding-left: 60px !important;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
}
.et_pb_text_7,
.et_pb_text_9 {
  line-height: 1.8em;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8em;
}
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_0.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_4.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_5.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_5.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_6.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_6.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_7.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_7.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_8.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_8.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_9.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_9.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_10.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_10.et_pb_blurb .et_pb_module_header a {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: #093532 !important;
}
.et_pb_blurb_0.et_pb_blurb p,
.et_pb_blurb_1.et_pb_blurb p,
.et_pb_blurb_2.et_pb_blurb p,
.et_pb_blurb_3.et_pb_blurb p {
  line-height: 1.6em;
}
.et_pb_blurb_0.et_pb_blurb,
.et_pb_blurb_1.et_pb_blurb,
.et_pb_blurb_2.et_pb_blurb,
.et_pb_blurb_3.et_pb_blurb {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  color: #6b8483 !important;
  line-height: 1.6em;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 1px;
  padding-bottom: 16px !important;
}
.et_pb_blurb_0 .et_pb_blurb_content,
.et_pb_blurb_1 .et_pb_blurb_content,
.et_pb_blurb_2 .et_pb_blurb_content,
.et_pb_blurb_3 .et_pb_blurb_content,
.et_pb_blurb_4 .et_pb_blurb_content,
.et_pb_blurb_5 .et_pb_blurb_content,
.et_pb_blurb_6 .et_pb_blurb_content,
.et_pb_blurb_7 .et_pb_blurb_content,
.et_pb_blurb_8 .et_pb_blurb_content,
.et_pb_blurb_9 .et_pb_blurb_content,
.et_pb_blurb_10 .et_pb_blurb_content {
  max-width: 100%;
}
.et_pb_blurb_0 .et-pb-icon {
  color: #522b24;
  font-family: ETmodules !important;
  font-weight: 400 !important;
}
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_1.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_2.et_pb_blurb .et_pb_module_header a,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header,
.et_pb_blurb_3.et_pb_blurb .et_pb_module_header a {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff !important;
}
.et_pb_blurb_1 .et-pb-icon,
.et_pb_blurb_2 .et-pb-icon,
.et_pb_blurb_3 .et-pb-icon {
  color: #006600;
  font-family: ETmodules !important;
  font-weight: 400 !important;
}
.et_pb_image_5 .et_pb_image_wrap {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.et_pb_image_5 {
  width: 70%;
  text-align: center;
}
.et_pb_image_6 .et_pb_image_wrap {
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
}
.et_pb_image_6 {
  margin-top: -14% !important;
  width: 50%;
  text-align: left;
  margin-left: 0;
}
.et_pb_image_7 .et_pb_image_wrap {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}
.et_pb_image_7 {
  margin-top: -18% !important;
  width: 40%;
  text-align: right;
  margin-right: 0;
}
.et_pb_blurb_4.et_pb_blurb p,
.et_pb_blurb_5.et_pb_blurb p,
.et_pb_blurb_6.et_pb_blurb p,
.et_pb_blurb_7.et_pb_blurb p,
.et_pb_blurb_8.et_pb_blurb p,
.et_pb_blurb_9.et_pb_blurb p,
.et_pb_blurb_10.et_pb_blurb p {
  line-height: 1.4em;
}
.et_pb_blurb_4.et_pb_blurb,
.et_pb_blurb_5.et_pb_blurb,
.et_pb_blurb_6.et_pb_blurb,
.et_pb_blurb_7.et_pb_blurb,
.et_pb_blurb_8.et_pb_blurb,
.et_pb_blurb_9.et_pb_blurb,
.et_pb_blurb_10.et_pb_blurb {
  font-family: "DM Sans", Helvetica, Arial, Lucida, sans-serif;
  font-size: 16px;
  color: #6b8483 !important;
  line-height: 1.4em;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important;
}
.et_pb_blurb_4,
.et_pb_blurb_5,
.et_pb_blurb_6,
.et_pb_blurb_7,
.et_pb_blurb_8,
.et_pb_blurb_9,
.et_pb_blurb_10 {
  box-shadow: 0px 40px 60px -10px rgba(0, 0, 0, 0.12);
}
.et_pb_blurb_4 .et_pb_main_blurb_image .et_pb_image_wrap,
.et_pb_blurb_5 .et_pb_main_blurb_image .et_pb_image_wrap,
.et_pb_blurb_6 .et_pb_main_blurb_image .et_pb_image_wrap,
.et_pb_blurb_7 .et_pb_main_blurb_image .et_pb_image_wrap,
.et_pb_blurb_8 .et_pb_main_blurb_image .et_pb_image_wrap,
.et_pb_blurb_9 .et_pb_main_blurb_image .et_pb_image_wrap,
.et_pb_blurb_10 .et_pb_main_blurb_image .et_pb_image_wrap {
  width: 36px;
}
.et_pb_column_0 {
  padding-top: 6%;
}
.et_pb_image_1.et_pb_module,
.et_pb_image_2.et_pb_module {
  margin-left: auto !important;
  margin-right: auto !important;
}
@media only screen and (max-width: 980px) {
  .et_pb_text_0 h1,
  .et_pb_text_2 h1,
  .et_pb_text_4 h1,
  .et_pb_text_6 h1,
  .et_pb_text_8 h1,
  .et_pb_text_10 h1,
  .et_pb_text_11 h1 {
    font-size: 40px;
  }
  .et_pb_text_1,
  .et_pb_text_3,
  .et_pb_text_5 {
    font-size: 16px;
  }
  body #page-container .et_pb_section .et_pb_button_0:after,
  body #page-container .et_pb_section .et_pb_button_1:after,
  body #page-container .et_pb_section .et_pb_button_2:after,
  body #page-container .et_pb_section .et_pb_button_3:after {
    display: inline-block;
    opacity: 0;
  }
  body #page-container .et_pb_section .et_pb_button_0:hover:after,
  body #page-container .et_pb_section .et_pb_button_1:hover:after,
  body #page-container .et_pb_section .et_pb_button_2:hover:after,
  body #page-container .et_pb_section .et_pb_button_3:hover:after {
    opacity: 1;
  }
  .et_pb_image_0 .et_pb_image_wrap img,
  .et_pb_image_1 .et_pb_image_wrap img,
  .et_pb_image_2 .et_pb_image_wrap img,
  .et_pb_image_3 .et_pb_image_wrap img,
  .et_pb_image_4 .et_pb_image_wrap img,
  .et_pb_image_5 .et_pb_image_wrap img,
  .et_pb_image_6 .et_pb_image_wrap img,
  .et_pb_image_7 .et_pb_image_wrap img {
    width: auto;
  }
  .et_pb_row_2.et_pb_row {
    padding-top: 40px !important;
    padding-right: 30px !important;
    padding-bottom: 40px !important;
    padding-left: 30px !important;
    margin-bottom: 0px !important;
    padding-top: 40px !important;
    padding-right: 30px !important;
    padding-bottom: 40px !important;
    padding-left: 30px !important;
  }
  .et_pb_image_3 {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
    margin-left: 0% !important;
  }
  .et_pb_row_4.et_pb_row,
  .et_pb_row_6.et_pb_row,
  .et_pb_row_7.et_pb_row {
    padding-top: 40px !important;
    padding-right: 30px !important;
    padding-bottom: 40px !important;
    padding-left: 30px !important;
    padding-top: 40px !important;
    padding-right: 30px !important;
    padding-bottom: 40px !important;
    padding-left: 30px !important;
  }
  .et_pb_text_7,
  .et_pb_text_9 {
    font-size: 15px;
  }
  .et_pb_blurb_0.et_pb_blurb,
  .et_pb_blurb_1.et_pb_blurb,
  .et_pb_blurb_2.et_pb_blurb,
  .et_pb_blurb_3.et_pb_blurb {
    border-bottom-width: 1px;
  }
  .et_pb_blurb_4.et_pb_blurb,
  .et_pb_blurb_5.et_pb_blurb,
  .et_pb_blurb_6.et_pb_blurb,
  .et_pb_blurb_7.et_pb_blurb,
  .et_pb_blurb_8.et_pb_blurb,
  .et_pb_blurb_9.et_pb_blurb,
  .et_pb_blurb_10.et_pb_blurb {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .et_pb_column_0 {
    padding-top: 0%;
  }
}
@media only screen and (max-width: 767px) {
  .et_pb_text_0 h1,
  .et_pb_text_2 h1,
  .et_pb_text_4 h1,
  .et_pb_text_6 h1,
  .et_pb_text_8 h1,
  .et_pb_text_10 h1,
  .et_pb_text_11 h1 {
    font-size: 83px;
  }
  .et_pb_text_1,
  .et_pb_text_3,
  .et_pb_text_5,
  .et_pb_text_7,
  .et_pb_blurb_0.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_0.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_1.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_1.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_2.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_2.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_3.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_3.et_pb_blurb .et_pb_module_header a,
  .et_pb_text_9,
  .et_pb_blurb_4.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_4.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_5.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_5.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_6.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_6.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_7.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_7.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_8.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_8.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_9.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_9.et_pb_blurb .et_pb_module_header a,
  .et_pb_blurb_10.et_pb_blurb .et_pb_module_header,
  .et_pb_blurb_10.et_pb_blurb .et_pb_module_header a {
    font-size: 14px;
  }
  body #page-container .et_pb_section .et_pb_button_0:after,
  body #page-container .et_pb_section .et_pb_button_1:after,
  body #page-container .et_pb_section .et_pb_button_2:after,
  body #page-container .et_pb_section .et_pb_button_3:after {
    display: inline-block;
    opacity: 0;
  }
  body #page-container .et_pb_section .et_pb_button_0:hover:after,
  body #page-container .et_pb_section .et_pb_button_1:hover:after,
  body #page-container .et_pb_section .et_pb_button_2:hover:after,
  body #page-container .et_pb_section .et_pb_button_3:hover:after {
    opacity: 1;
  }
  .et_pb_image_0 .et_pb_image_wrap img,
  .et_pb_image_1 .et_pb_image_wrap img,
  .et_pb_image_2 .et_pb_image_wrap img,
  .et_pb_image_3 .et_pb_image_wrap img,
  .et_pb_image_4 .et_pb_image_wrap img,
  .et_pb_image_5 .et_pb_image_wrap img,
  .et_pb_image_6 .et_pb_image_wrap img,
  .et_pb_image_7 .et_pb_image_wrap img {
    width: auto;
  }
  .et_pb_row_2.et_pb_row,
  .et_pb_row_4.et_pb_row,
  .et_pb_row_6.et_pb_row,
  .et_pb_row_7.et_pb_row {
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .et_pb_blurb_0.et_pb_blurb,
  .et_pb_blurb_1.et_pb_blurb,
  .et_pb_blurb_2.et_pb_blurb,
  .et_pb_blurb_3.et_pb_blurb {
    border-bottom-width: 1px;
  }
  .et_pb_blurb_4.et_pb_blurb,
  .et_pb_blurb_5.et_pb_blurb,
  .et_pb_blurb_6.et_pb_blurb,
  .et_pb_blurb_7.et_pb_blurb,
  .et_pb_blurb_8.et_pb_blurb,
  .et_pb_blurb_9.et_pb_blurb,
  .et_pb_blurb_10.et_pb_blurb {
    font-size: 13px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}
